/* homepage style */
.jumbotron {
    background-image: url(./images/oranges.jpg);
    background-size: 100%;
    background-repeat: none;
    margin-bottom: 0;
}

img.home {
    width:90%;
}

div.home {
    width: 30%;
    background-color: rgb(84, 107, 212);
    padding: 10px;
    margin-left: 10px;
}

h1.home {
    font-size: 40px;
    text-align: center;
}

p.home {
    font-size: 2rem;
}
/*food style*/
ul.food {
    list-style: none;
}
img.food {
    width: 70%;
    height: auto;
}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h2.food {
    font-size: 1rem;
    text-align: center;
    font-weight: bold;
}

h3.food {
    text-align: center;
}

p.food {
    text-align: center;
}
section.food-images {
  margin-bottom: 3rem;
}
/* on campus style*/

.on-campus {
    margin-top: 15px;
    margin-bottom: 15px;
}

/*off campus style*/

.off-campus {
    margin-top: 20px;
    margin-bottom: 20px;
}

h2.off-campus {
    text-align: center;
}
/* all pages */
body {
    font-family: 'Quicksand', sans-serif;
    background-color: #ededf4;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Bebas Neue', cursive
}
h2 {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Bebas Neue', cursive
}
h3 {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Bebas Neue', cursive
}
h4 {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Bebas Neue', cursive
}
nav {
    margin-bottom: 1rem;
}

li a:hover {
    background-color: #d4cdc3;
}

li a {
    color: black;
    font-weight: bold;
}

footer {
    margin-top: 2rem;
    font-size: .8rem;
}

.heading {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

a.contrast {
    color: black;
    text-decoration: underline;
}